{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <center><img class="d-block " src="{% static  'app/img/about-us -3.png' %}" alt="About us" style=""></center>
<hr>
<div class="container">
<div>
    <center><h2 class="text-primary"><strong>Farmway Organics</strong></h2></center>
<p class="text-success center">We here in farmway organics aim to start awareness about organic farming and to stop the use of chemical products which is spreading conventional farming practices.
    organic farming practices makes the soil fertile and the use of natural fertilizers and pesticides helps in keeping agriculture at a sustainable level and improves the soil health.
</p>
<p class="text-success center">We mostly sell organic products from a farmer to farmer.Farmway organics acts as a delivery partner between the farmer to farmer.</p>
</div>
    <div><h4 class="text-primary">Our Commitment</h4>
    <ul class="text-success center">
        <li>To deliver geniune organic products to our customers</li>
        <li>To support Natural, Sustainable, Organic, Agricultural practices that serve and protect mother Nature.</li>
        <li>To support the livelihood and well-being of farmers and tribal wildcrafters across rural India.</li>
    </ul>
    </div><br>
    <br><br><br>
    <div><h4 class="text-primary">Our Mission</h4>
        <p class="text-success center">To be a trustworthy and innovative global leader in providing genuine organic True Wellness products and solutions for conscious, healthy living.</p></div></div>
{% endblock %}