{% extends 'app/base1.html' %}
{% block content %}
<div class="container">
    <h1 style="color: teal; text-align: center">Farmway Organics Dashboard</h1>
    {% if user.is_authenticated %}
        <h3 style="text-align: center">Welcome Mr/Mrs. {{ user.name }}</h3>
    {% endif %}
    <h3 style="text-align: center;  color: #1b5e20">All Orders </h3>
{% if order %}
<table class="table">
        <thead>
        <tr class="text-danger">
            <th scope="col">#</th>
            <th scope="col">Order Id</th>
            <th scope="col">Date</th>
            <th scope="col">Username</th>
            <th scope="col">Order Total</th>
            <th scope="col">Payment Mode</th>
            <th scope="col">Ordered</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        {% for order in order %}
        {% if order.ordered == True %}
        <tr class="text-success">
            <th scope="row" class="text-danger">{{ forloop.counter }}</th>
            <td>{{ order.payment.txn_id }}</td>
            <td>{{ order.ordered_date }}</td>
            <td>{{ order.user.name }}</td>
            <td>{{ order.payment.amount }}</td>
            {% if order.mode == True %}
            <td>Online</td>
            {% else %}
            <td>COD</td>
            {% endif %}
            <td>{{ order.ordered }}</td>
            
            <td><a href="{% url 'app:dashboard_order_details'  pk=order.pk %}">View details</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody></table>
{% endif %}
</div>
{% endblock %}