<!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn" id="footer">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white waves-effect" href="{% url 'blog:post_list' %}" target="_blank"
        role="button">Visit Our Blog
        <i class="fas fa-blog ml-2"></i>
      </a>
      <a class="btn btn-outline-white waves-effect" href="{% url 'app:about' %}" target="_blank" role="button">About Us
        <i class="fas fa-info-circle ml-2"></i>
      </a>
      <a class="btn btn-outline-white waves-effect" href="{% url 'app:contact' %}" target="_blank" role="button">Contact Us
        <i class="fas fa-envelope ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>
      <!---
      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>--->

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-telegram mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-whatsapp mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-instagram mr-3"></i>
      </a>
           <!--<script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=10ca0505965117c0db1ddfca96bc8dc1df613335'></script>-->
 <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/757288/t/9"></script>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright text-black py-3">
      © 2020 Copyright: farmwayorganics.com - All Rights Reserverd.
    </div>


    <!--/.Copyright-->

  </footer>