{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<style>
  .floating-btnz {

     height: 50px;
     width: 50px;
     display: flex;
     border-radius: 50%;
     background: linear-gradient(to right, green, teal);
     color: white;
     z-index: 2147483647;
     bottom: 15%;
     font-size: 20px;
     align-items: center;
     justify-content: center;
     text-decoration: none;
     box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
     outline: blue;
     border: none;
     cursor: pointer;
     position: fixed;
     bottom: 170px;
     right: 30px;

    }
  .floating-btnz:hover{
    background: teal;
    color:white;
  }

</style>

<!--- go to top button --->
<button id="myBtn" class="floating-btnz" onclick="topFunction()" title="Go to Top"><i class="fas fa-arrow-up"></i></button>

<div class="container">

<div class="jumbotron row">
<div class="col-md-4">
<img class="d-block w-100" src="static/app/img/F_M_O_Final_2.png" alt="First slide">
</div>
<div class="col-md-8 center">
   <h2 class="display-4" style="color: teal">FarmWay Organics</h2>
  <p class="lead" style="color: #0c5460">The Organic Way to explore Farmlands</p>
  <hr class="my-4">
  <p class="text-success"> The Organic farming involved in growing and nurturing crops without the use of synthetic based fertilizers and pesticides, This traditional way of farming was practiced for thousands of years for ecologically balanced agriculture.</p>
  <a class="btn btn-outline-success btn-md" href="{% url 'app:products' %}" role="button" style="color: #0c5460">View Our Products</a>
</div>
<br><br>
     <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="static/app/img/farm-landscape.png" alt="First slide">
        <div class="mask flex-center waves-effect "></div>
      </div>
      <div class="carousel-caption center" style="top: 15%;">
        <h3 class="h3-responsive " style="color: #0c5460"><strong>Manure</strong></h3>
        <h5 class="text-success">Animal manure, such as chicken manure and cow dung, has been used for centuries as a fertilizer for farming. It can improve the soil structure so that the soil holds more nutrients and water, and therefore becomes more fertile in nature.</h5>
      </div>
    </div></div><br/><br/></div>

<div class="row">
  <center><h3 style="color: #0c5460">What we sell</h3></center>
  <div class="col-md-4">
    <div class="view">
      <img class="d-block w-100" src="{% static 'app/img/gardentree.png' %}" alt="Bio Pesticides" style="height: 350px;">
    </div>
    <div class="center">
      <h4 style="color: teal">Bio Pesticides</h4>
      <p class="text-success">Bio pesticides are used to control pests and disease carriers such as ticks, rats and mice and also to control weeds ands insects in organic way. </p>
    </div>

  </div>
  <div class="col-md-4">
  <div class="view">
      <img class="d-block w-100" src="{% static  'app/img/pngfuel.com.png' %}" alt="Bio Fertilizers" style="height: 350px;">
    </div>
    <div class="center">
      <h4 style="color: teal">Bio Fertilizers</h4>
      <p class="text-success">Bio fertilizers are the nutrients plant required to grow such substances like Nitrogen, Phosporous, Pottasium etc. </p>
    </div>
  </div>
  <div class="col-md-4">
  <div class="view">
      <img class="d-block w-100" src="{% static 'app/img/bonsai-maple-png.png' %}" alt="Garden Fertilizer" style="height: 350px;">
    </div>
    <div class="center">
      <h4 style="color: teal">Garden Fertilizers</h4>
      <p class="text-success">Garden plants like flowering plants, indoor plants and bonsai trees required some amount of fertilizers and reqirements to grow like Coco peat, Vermi compost and flowering fertilizers etc. </p>
    </div>
  </div>




</div></div>


<div class="carousel owl-carousel owl-theme">
{% for product in object_list %}

    <div class="card ">

        <div class="card-img-top img-responsive">
            <img src="{{product.imageURL}}" alt="image" style="height: 300px;">
        </div>
    <div class="card-content center">
        <div class="title" style="color: #0c5460">
            {{product.item_name}}
        </div>
    {% comment %}<div class="sub-title">
        {{product.category}}

    </div>{% endcomment %}
     <p style="color: #e74c3c; text-align: center">
         Rs.{{product.price}}
     </p><div>
     <a href="{{ product.get_absolute_url }}" class="btn btn-danger" style="text-align: center">View Product</a>
    </div></div>
</div>

{% endfor %}
</div>


</div>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
  {% endblock %}
