{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}
<body class="loginbody">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>

    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="login-box col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                      {% csrf_token %}
                        <h3 class="text-center text-white">Login</h3>
                        <br/>
                        <div class="form-group">
                          {{ form|crispy }}
                        </div>


                        <br/>
                        <div class="form-group">
                            <label for="remember-me" class="text-black"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                            <input type="submit"  class="btnSubmit" value="Login" style="">
                        </div>
                    </form>


                            Not a member?<a href="{% url 'app:signup' %}" class=" text-teal">Sign up/Register</a>

                            <a href="{% url 'app:password_reset' %}" class="pwd text-teal">forgot password?</a>



                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
