{% extends 'app/base.html' %}
{% block content %}
<div class="container">
<h4 class="center text-danger">Your Order Details.</h4>

{% if data %}
<table class="table">
        <thead>
        <tr class="text-danger">
            <th scope="col">#</th>
            <th scope="col">Order Id</th>
            <th scope="col">Date</th>
            <th scope="col">Ship To</th>
            <th scope="col">Order Total</th>
            {% comment %}<th scope="col">Payment Mode</th>
            <th scope="col">Ordered</th>{% endcomment %}
            <th scope="col">Status</th>
            <th scope="col">View Details</th>
        </tr>
        </thead>
        <tbody>
        {% for order in data %}
        {% if order.ordered == True %}
        <tr class="text-success">
            <th scope="row" class="text-danger">{{ forloop.counter }}</th>
            <td>{{ order.payment.txn_id }}</td>
            <td>{{ order.ordered_date }}</td>
            <td>{{ order.user.name }}</td>
            <td>{{ order.payment.amount }}</td>
            {% comment %}{% if order.mode == True %}
            <td>Online</td>
            {% else %}
            <td>COD</td>
            {% endif %}
            <td>{{ order.ordered }}</td>{% endcomment %}
            {% if order.refund_granted %}
                <td><small><button class='badge btn-danger'>refunded</button></small></td>
            {% elif order.mode == False and order.refund_requested %}
                <td><small><button class='badge btn-danger'>Cancelled</button></small></td>
            {% elif order.refund_requested %}
                <td><small><button class='badge btn-warning'>refund requested</button></small></td>

            {% elif order.received %}
                <td><small><button class='badge btn-success'>Delivered</button></small></td>
            {% elif order.being_delivered %}
                <td><small><button class='badge btn-primary'>Order Confirmed</button></small></td>
            {% else %}
                <td><small><button class='badge btn-info'>Pending</button></small></td>
            {% endif %}
            <td><a href="{% url 'app:details'  pk=order.pk %}"><i class="fas fa-eye btn btn-primary" aria-hidden="true"></i></a></td>
        </tr>
        {% endif %}
        {% endfor %}

        </tbody></table>


{% endif %}
<h6>To cancel your order <a href="{% url 'app:request-refund' %}">Click here</a></h6>
<small>Note : keep your order id handy to cancel your order and the status refunded or cancelled denotes that the order is closed. </small>
</div>

{% endblock %}