{% extends 'app/base.html' %}
{% block content %}
<br/>
<br/>
<nav class="navbar second-navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
    <button class="navbar-toggler ml-auto hidden-sm-up float-sm-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mr-auto"><i class="fa fa-bars"></i></span>
    </button>



    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
     <ul class="nav tab navbar-nav">
         <li class="nav-item ">
            <a class="nav-link tablinks" onclick="openProduct(event, 'Allproducts')"> All Products </a>
          </li>
        <li class="nav-item">
            <a class="nav-link tablinks" onclick="openProduct(event, 'Biofertilizers')"> Fertilizers </a>
          </li>
          <li class="nav-item">
            <a class="nav-link tablinks" onclick="openProduct(event, 'Biopesticides')"> pesticides </a>
          </li>
          <li class="nav-item">
            <a class="nav-link tablinks" onclick="openProduct(event, 'othercultures')"> Others </a>
          </li>
     </ul>
    </div>
</nav>
{% if object_list %}
<div id="Allproducts" class="tabcontent">

  <div class="row">
      {% for product in object_list %}
      <div class="card col-md-4">
          <!-- Card image -->
          <div class="view overlay">
              <img class="card-img-top thumbnail" src="{{ product.imageURL }}"
                   alt="Card image cap">
              <a href="{{ product.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">{{ product.item_name }}</h4>
              <!-- Text -->
              <p class="card-text">{{ product.description }}</p>
              <!-- Button -->
              <a href="{{ product.get_absolute_url }}" class="btn btn-primary">View Product</a>
          </div>
      </div>
      <!-- Card -->
      {% endfor %}
      <hr/>
  </div>
</div>
<div id="Biofertilizers" class="tabcontent">
  <div class="row">
      {% for product in object_list %}
      {% if product.category == 'fertilizers' %}
      <div class="card col-md-4">
          <!-- Card image -->
          <div class="view overlay">
              <img class="card-img-top thumbnail" src="{{ product.imageURL }}"
                   alt="Card image cap">
              <a href="{{ product.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">{{ product.item_name }}</h4>
              <!-- Text -->
              <p class="card-text">{{ product.description }}</p>
              <!-- Button -->
              <a href="{{ product.get_absolute_url }}" class="btn btn-primary">View Product</a>
          </div>
      </div>
      {% endif %}
      <!-- Card -->
      {% endfor %}
      <hr/>
  </div>
</div>

<div id="Biopesticides" class="tabcontent">
  <div class="row">
      {% for product in object_list %}
      {% if product.category == 'pesticides' %}
      <div class="card col-md-4">
          <!-- Card image -->
          <div class="view overlay">
              <img class="card-img-top thumbnail" src="{{ product.imageURL }}"
                   alt="Card image cap">
              <a href="{{ product.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">{{ product.item_name }}</h4>
              <!-- Text -->
              <p class="card-text">{{ product.description }}</p>
              <!-- Button -->
              <a href="{{ product.get_absolute_url }}" class="btn btn-primary">View Product</a>
          </div>
      </div>
      {% endif %}
      <!-- Card -->
      {% endfor %}
      <hr/>
  </div>
</div>

<div id="othercultures" class="tabcontent">
    <div class="row">
      {% for product in object_list %}
      {% if product.category == 'others' %}
      <div class="card col-md-4">
          <!-- Card image -->
          <div class="view overlay">
              <img class="card-img-top thumbnail" src="{{ product.imageURL }}"
                   alt="Card image cap">
              <a href="{{ product.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">{{ product.item_name }}</h4>
              <!-- Text -->
              <p class="card-text">{{ product.description }}</p>
              <!-- Button -->
              <a href="{{ product.get_absolute_url }}" class="btn btn-primary">View Product</a>
          </div>
      </div>
      {% endif %}
      <!-- Card -->
      {% endfor %}
      <hr/>
  </div>

</div>
{% else %}
    <div class="row">
      {% for product in object_list %}
      <div class="card col-md-4">
          <!-- Card image -->
          <div class="view overlay">
              <img class="card-img-top thumbnail" src="{{ product.imageURL }}"
                   alt="Card image cap">
              <a href="{{ product.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">{{ product.item_name }}</h4>
              <!-- Text -->
              <p class="card-text">{{ product.description }}</p>
              <!-- Button -->
              <a href="{{ product.get_absolute_url }}" class="btn btn-primary">View Product</a>
          </div>
      </div>
      <!-- Card -->
      {% endfor %}
      <hr/>
  </div>

{% endif %}












{% endblock%}
