{% extends 'app/base.html' %}
{% block content %}

     <!-- SideNav slide-out button -->

     <nav class="navbar second-navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">

       <ul class="nav navbar-nav nav-flex-icons mx-auto d-inline-block">

         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
             Dropdown
           </a>
           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </li>
         <li class="nav-item">
           <a class="nav-link"> Contact </a>
         </li>
         <li class="nav-item">
           <a class="nav-link"> Support </a>
         </li>
         <li class="nav-item">
           <a class="nav-link"> Account </a>
         </li>
       </ul>
     </nav>
{% endblock%}
