{% extends 'app/base.html' %}
{% block content %}

<!-- Search form -->
<nav class="navbar second-navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
  <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-1" style="width: 100%;" mdbRippleRadius>

  <input class="form-control form-control-sm col-md-12 mr-3 " style="width: 80%;" type="text" placeholder="Search here.."
    aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>
  </form>
</nav>


{% endblock %}
